{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Newspaper List
    <a href="{% url 'agency:newspaper-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
      {{ search_form|crispy }}
      <input type="submit" class="btn btn-secondary" value="🔍">
    </form>
  {% if newspaper_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Published date</th>
        <th>Topic</th>
        <th>Publishers</th>
      </tr>

      {% for newspaper in newspaper_list %}
        <tr>
         <td>
           {{ newspaper.id }}
         </td>
          <td>
            <a href="{% url 'agency:newspaper-detail' pk=newspaper.id %}">
              {{ newspaper.title }}
            </a>
          </td>
        <td>
          {{ newspaper.preview_content }}
        </td>
        <td>
          {{ newspaper.published_date }}
        </td>
        <td>
          <p><strong>Topics:</strong>
            {% for topic in newspaper.topics.all %}
              <span class="badge bg-info">{{ topic.name }}</span>
            {% empty %}
              No topics assigned
            {% endfor %}
          </p>
        </td>
        <td>
          {% for redactor in newspaper.publishers.all %}
            <a href="{% url 'agency:redactor-detail' pk=redactor.id %}" style="text-decoration: underline">
             {{ redactor.username }}
            </a>
              {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>
          <a href="{% url 'agency:newspaper-update' pk=newspaper.id %}" class="btn btn-success" style="color: black">
            Update
          </a>
        </td>
        <td>
          <a href="{% url 'agency:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger" style="color: black">
            Delete
          </a>
        </td>

        </tr>
      {% endfor %}
    </table>

    {% else %}
      <p>There is no newspapers in agency</p>
  {% endif %}
{% endblock %}