{% extends "base.html" %}

{% block content %}
  <h1>
    Redactor List
    <a href="{% url 'agency:redactor-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% if redactor_list %}
    <table class="table">
    <tr>
      <td>ID</td>
      <td>Username</td>
      <td>First name</td>
      <td>Last name</td>
      <td>Years of experience</td>
    </tr>
    {% for redactor in redactor_list %}
      <tr>
        <td>{{ redactor.id }}</td>
        <td><a href="{{ redactor.get_absolut_url }}">{{ redactor.username }} {% if user == redactor %} (Me){% endif %}</a></td>
        <td>{{ redactor.first_name }}</td>
        <td>{{ redactor.last_name }}</td>
        <td>{{ redactor.years_of_experience }}</td>
      </tr>
    {% endfor %}
    
    </table>
  {% endif %}
{% endblock %}